NEXT_PUBLIC_API_URL=""

LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET="YOUR_LIVEKIT_API_SECRET"
NEXT_PUBLIC_LIVEKIT_URL="YOUR_LIVEKIT_URL"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"

# AWS S3
AWS_REGION="YOUR_AWS_REGION"
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
S3_BUCKET_NAME="YOUR_S3_BUCKET_NAME"
S3_FOLDER_PREFIX="YOUR_S3_FOLDER_PREFIX"
